<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <title>Todoアプリ</title>
  </head>
  <body>
    <!--
    <div class="container">
      
      ボタン1
    </div>
     コメントは複数行に
    またがってもかまいません。-->
    <header id="header">
      <h1>ToDoApp</h1>
      <nav>
        <td id="g-navi">
          <tr>
            <a href="howto.html"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-info-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                />
              </svg>
              使い方</a
            >
          </tr>
        </td>
      </nav>
    </header>
    <br />
    <br />

    <h4>本アプリの使い方</h4>

    <p>
      　本アプリにはタスクの<a href="#add">追加</a>、<a href="#view">一覧表示</a
      >、<a href="#re">編集</a>、<a href="#del">削除</a>の機能があります。<br />
      アプリを使いこなしてタスク管理ができるようになりましょう！
    </p>
    <h5><a name="view">タスク一覧</a></h5>
    <p>
      　登録されたタスクは最初は登録順に並んでいます。<br />
      　また、表示方法にも決まりがあります。<br />
      左から順にタスクのステータスとカテゴリ、タスクの名前、締切日、更新ボタン、削除ボタンです。
    </p>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!--httpPost-->
    <script src="../javascripts/index.js"></script>

    <script>
      //newtask
      $("#NEWTASK").on("click", async function () {
        //idがNEWTASKのボタンをクリックしたらフォームからリクエストデータを取得するjQuery
        const requestData = {
          //create-form フォームのID name プッシュされる中身の名前
          TaskName: $("#create-form input[name=taskName]").val(),
          Deadline: $("#create-form input[name=deadlineDay]").val(),
          Category: $("#create-form select[name=categoryId]").val(),
        };
        const response = await httpPost(
          "//" + window.location.host + "/api/tasks",
          requestData
        );
        window.location.reload();
      });
      //gettask
      $(async function () {
        const response = await httpGet(
          "//" + window.location.host + "/api/tasks"
        );
        console.log(response);
        const list = response.map((item) => {
          const date = new Date(item.deadline);
          const year = date.getFullYear();
          const month = ("0" + (date.getMonth() + 1)).slice(-2);
          const day = ("0" + date.getDate()).slice(-2);
          const deadlineVal = `${year}年${month}月${day}日`;
          console.log(item);
          var sta = "0";
          var STA = "";
          if (item.task_status == 1) {
            var sta = "kan";
            var STA = `
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-check2"
                viewBox="0 0 16 16"
              >
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
              </svg>
            `;
          } else if (item.task_status == 2) {
            var sta = "sagyo";
            var STA = `
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-person-workspace"
                viewBox="0 0 16 16"
              >
                <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z" />
              </svg>
            `;
          } else {
            var sta = "mi";
          }
          console.log(sta);
          var cate = "0";

          if (item.category_id == 1) {
            var cate = `"sei"`;
          } else if (item.category_id == 2) {
            var cate = `"ben"`;
          } else if (item.category_id == 3) {
            var cate = `"shigo"`;
          } else {
            var cate = `"syu"`;
          }
          console.log(cate);
          return `
                <tr class=${sta}>
                  <td class=${cate}>${STA}</td>
                  <!--<td>${item.category_name}</td>-->
                  <td>${item.task_name}</td>
                  <td>${deadlineVal}</td>
                  <!--<td>${item.task_status}</td>-->
                  <td>
                    <button
                      class="btn btn-primary"
                      id="update-button"
                      data-toggle="modal"
                      data-target="#change"
                      data-id=${item.id}>
                      <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="16" 
                        height="16" 
                        fill="currentColor" 
                        class="bi bi-pencil-square" 
                        viewBox="0 0 16 16"
                      >
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                      更新
                    </button>
                  <!--</td>
                  <td>-->
                    <button
                      class="btn btn-danger"
                      id="delete-button"
                      data-id=${item.id}
                      data-delete=${item.task_name}>
                      <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="16" height="16" fill="currentColor" 
                        class="bi bi-file-earmark-x" 
                        viewBox="0 0 16 16"
                        >
                        <path d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                      </svg>
                      削除
                    </button>
                  </td>
                </tr>`;
        });
        $("tbody#get-task").append(list);
      });
      //kousin
      $(document).on("click", "#update-button", async function () {
        $("#modal").show(); //モーダル勢はいらない
        const id = $(this).data("id");
        const response = await httpGet(
          "//" + window.location.host + `/api/tasks/${id}`
        );
        const date = new Date(response[0].deadline);
        const year = date.getFullYear();
        const month = ("0" + (date.getMonth() + 1)).slice(-2);
        const day = ("0" + date.getDate()).slice(-2);
        const deadlineVal = `${year}-${month}-${day}`;
        $("#update-form input[name=id]").val(response[0].id);
        $("#update-form input[name=TASKNAME]").val(response[0].task_name);
        $("#update-form input[name=deadlineDay_up]").val(deadlineVal);
        $("#update-form select[name=CATEGORY]").val(response[0].category_id);
        $("#update-form select[name=STATUS]").val(response[0].task_status);
      });

      $("#update-task").on("click", async function () {
        const id = $("#update-form input[name=id]").val();
        const requestData = {
          taskName: $("#update-form input[name=TASKNAME]").val(),
          deadline: $("#update-form input[name=deadlineDay_up]").val(),
          category: $("#update-form select[name=CATEGORY]").val(),
          status: $("#update-form select[name=STATUS]").val(),
        };
        const response = await httpUpdate(
          "//" + window.location.host + `/api/tasks/${id}`,
          requestData
        );
        window.location.reload();
      });

      $(document).on("click", "#delete-button", async function () {
        const taskName = $(this).data("delete");
        if (confirm(`下記の内容を削除します\n ${taskName}`)) {
          const id = $(this).data("id");
          const response = await httpDelete(
            "//" + window.location.host + `/api/tasks/${id}`
          );
          window.location.reload();
        }
      });
    </script>
  </body>
</html>
